<div style="padding:10px;">
<h3 style="margin:0;">Enter your details</h3>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Full Name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email,"Email (only intelegencia domain)" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile,:maxlength => "10",:size => "30" %>
  </p>
  <p>
    <%= f.label :pass_code,"Passcode (will be used while editing info)" %><br />
    <%= f.password_field :pass_code %>
  </p>
  <p>
    <%= f.check_box :attending %> <%= f.label :attending %><br />
  </p>
  <p class="flt-lt">
    <%= f.submit 'Register',:class => "buttons" %> 
  </p>
<% end %>
<%= button_to 'Cancel', home_url,:class=> "buttons flt-lt", :style=>"margin: 14px 0 0 15px" %>
</div>


