<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :venue %><br />
  <%= f.text_field :venue %>
</p>
<p>
  <%= f.label :date %><br />
  <%= f.text_field :date %>
</p>
<p>
  <%= f.label :time %><br />
  <%= f.text_field :time %>
</p>
<p>
  <%= f.check_box :current_event %>
  <%= f.label :current_event %>
</p>