<table class="display_users" cellpadding="4" cellspacing="4">
  <tr>
    <th width="125px">Event title</th>
    <th width="100px">Venue</th>
    <th width="100px">Date</th>
    <th width="100px">Time</th>
    <th width="100px">Active</th>
    <th>Actions</th>
  </tr>
</table>
<div style="height: 330px;overflow-y: auto;">
<table class="display_users" cellpadding="4" cellspacing="4">
  <% if @events.present? %>
      <% @events.each do |event| %>
          <tr id="event_row_<%= event.id %>">
            <td width="125px"><%=h event.title %></td>
            <td width="100px"><%=h event.venue %></td>
            <td width="100px" class="text_align_center"><%=h event.date %></td>
            <td width="100px" class="text_align_center"><%=h event.time  %></td>
            <td width="100px" class="text_align_center"><%=h event.current_event  %></td>
            <td class="text_align_center"><%= link_to 'Manage Users', admin_manage_event_users_path(event.id) %> | <%= link_to 'Edit', edit_event_path(event.id) %> | <%= link_to_function 'Delete', "delete_event('#{event.id}')" %></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td colspan=6 class="text_align_center"> No Event Created Yet. </td>
      </tr>

  <% end %>
</table>
</div>
<br>
<%= button_to "New Event",new_event_path,:class => "buttons" %>

<script>
    function delete_event(event_id) {
        if(confirm("Are you sure, you want to delete this event?")){
            $.ajax({
                url: "<%= delete_event_path %>" ,
                method: 'post',
                data: 'id=' + event_id,
                success: function(data) {
                    $('#event_row_' + event_id).fadeOut(1000);
                }
            });
        }
    }
</script>